# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a34d853488f0f6adb81e9ff8877a38df"
name = "sajan-demo-shop"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
